<div class="container">
    <div class="site-footer">
      <div class="col-lg-6">
          <div class="pull-left social-links contact-info">
            <h2 class="">Contact Us</h2>
            <h5 class="">Flo Airride Mfg.</<h5>
              <h5><a href="">email@domain.com</a></h5>
              <h5><a href="">555-555-5555</a></h5>
                <ul class="footer-channels">
                  <li><a href="" target="_blank"><i class="fa  fa-facebook-square fa-2x"></i></a></li>
                  <li><a href="" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                  <li><a href="" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                </ul>
          </div>
      </div>
    </div>
</div>
