@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: -2336px 0; }
}

#animate-area {
    width: 100%;
    height: auto;
    background-image: url(/img/codesmiths-background.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;

    animation: animatedBackground 60s linear infinite;
    -ms-animation: animatedBackground 60s linear infinite;
    -moz-animation: animatedBackground 60s linear infinite;
    -webkit-animation: animatedBackground 60s linear infinite;
}

.header {
  background-color: rgba(255, 255, 255, .5);
}

.header.active {
  background: red;
}

.header h3 {
  margin-top: 10px;
  padding-left: 5px;
}

.header button {
  background: #9c18ff;
}

.header button:hover {
  background: #3ed60a;
}

.header a {
  color: #f0b60d;
  font-family: "chunk";
  letter-spacing: 1px;
}

.header a:hover {
  color: #3ed60a;
  text-decoration: none;
}

.collapse ul li {
  padding: 0 10px;
  margin-top: 7px;
}

.modal-header, .modal-body, .modal-footer {
  background: #800ad6;
  font-family: "chunk";
  color: #fff;
  letter-spacing: 1px;
}

.contact-info li {
  list-style: none;
  margin-left: -20px;
}

.contact-info li a {
  font-family: "chunk";
  color: #fff;
  letter-spacing: 3px;
  font-size: 2em;
}

.contact-info li a:hover {
  color: #3ED60A;
  text-decoration: none;
}

.logo img {
  width: 60%;
  padding: 130px 0;
}

@media (max-width: 675px) {
  .logo img {
    width: 80%;
    padding: 80px 0;
  }
}

.section-break {
  padding: 50px 0;
  background-color: #fff;
}

.section1 {
  background-color: #1c75bc;
  padding: 20px 10px;
}

.section1 h1 {
  font-family: 'chunk';
  letter-spacing: 3px;
  color: #fff;
}

.section1 h2  {
  font-family: 'nexa';
  color: #d6a000;
}

.section1 p {
  color: #fff;
}

.about-button {
  background: #3ED60A;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: transparent;
  box-shadow: #444 1px 1px 1px;
}

.about-button:hover {
  background: #800AD6;
}

.about-button a {
  font-family: 'chunk';
  letter-spacing: 3px;
  color: #fff;
  font-size: 2em;
}

.about-button a:hover {
  text-decoration: none;
  color: #fff;
}

.section2 {
  background-color: #c93314;
  padding: 20px 10px;
}

.section2 h1 {
  font-family: 'chunk';
  letter-spacing: 3px;
  color: #fff;
}

.section2 h2  {
  font-family: 'nexa';
  color: #d6a000;
}

.section2 p {
  color: #fff;
}

.footer {
  background: rgba(62, 214, 10, .8);
  margin: 0 -15px;
  padding: 0 15px;
}

.footer ul {
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer ul li {
  display: inline-block;
  padding: 20px 40px;
}

.footer a {
  font-family: 'chunk';
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.7em;
}

.footer a:hover {
  text-decoration: none;
  color: #800ad6;
}

.footer-list {
  margin-left: -25px;
}
